<%# <p style="color: green"><%= notice %>

<% if user_signed_in? %>
    <h1>Friend List</h1>

        <br><br>
        
    <table class="table table-striped table-hover table-bordered" >
      <thead class="table-dark">
        <tr>
          <%# <th>User Id</th> %>
          <th>Name <%="\u{1F468}"%> </th>
          <%# <th>Last name</th> %>
          <th>Email <%="\u{2709}"%> </th>
          <th >Phone <%="\u{260E}"%> </th>
          <th>Twitter <%="\u{1F426}"%> </th>
          <th>Action <%="\u{2764}"%> </th>
        </tr>
      </thead>      
      <div id="friends">
        <% @friends.each do |friend| %>
          <% if friend.user == current_user %>
            <%= render friend %>
            
            <td >
              <%# <%=  link_to "Show ", friend, class: "btn btn-outline-dark" %> 
            <%# <button   class=""></button>   %>
            <%= button_to "Delete", friend, method: :delete, class:"btn btn-outline-danger", onclick: 'return confirm("Are you sure?");' %> 
            <%# <%= link_to "Edit", edit_friend_path(@friend),class:"btn btn-primary",style:"margin-top:10px; margin-bottom:10px;display:inline-block;" %> 
            <%# <%= friend.user_id %> 
            </td>
            </tr>
          <% end %>
      <% end %>
      </div>
    </table>

    <%= link_to "New friend", new_friend_path, class:"btn btn-success" %>
    <%# <button  type="button" ></button>   %>
<% else %>
  <h1>OOPs...! you are not loged in</h1>
   <h3><%= @about_me%> Not visible?</h3>
<% end %>

