<%# <p style="color: green"><%= notice</p>  %>
<%# <%= render @admin_order %>
<%# <div>
  <%= link_to "Edit this order", edit_admin_order_path(@admin_order) %>
<%# <%= link_to "Back to orders", admin_orders_path %>
<%# <%= button_to "Destroy this order", @admin_order, method: :delete %>
<%# </div>  %>
<div class="jumbotron">
  <div class="card-body">
    <h1 class="display-4">
      <%= @admin_order.customer_email %>
    </h1>
    <p class="lead">
    </p>
    <hr class= "my-4">
  </div>
</div>
<table class="table table-striped table-hover table-bordered" >
  <thead class="table-light">
    <tr>
      <th>Order ID</th>
      <th>Customer Email </th>
      <th>Fulfilled  </th>
      <th>Total  </th>
      <th>Address  </th>
      <th>Orders  </th>
      <%# <th>User Name <%="\u{1F60E}" </th>  %>
    </tr>
  </thead>
  <%= render @admin_order %>
</tr>
</table>
<div style= "display:inline-block";>
  <%= link_to "Edit", edit_admin_order_path( @admin_order), class:"btn btn-primary",style:"margin-top:10px; margin-bottom:10px;display:inline-block;" %>
  <%= link_to "Back", admin_orders_path, class:"btn btn-secondary" ,style:"margin-top:10px; margin-bottom:10px;display:inline-block;" %>
</div>
<div style= "display:inline-block";>
  <%= button_to "Delete", admin_order_path(@admin_order), method: :delete, class:"btn btn-danger", onclick: 'return confirm("Are you sure?");' %>
</div>
<br>
<br>
