<%= form_with(model: [:admin, admin_product]) do |form| %>
  <% if admin_product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(admin_product.errors.count, "error") %> prohibited this admin_product from being saved:</h2>
      <ul>
        <% admin_product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%# <div>
    <%= form.label :name, style: "display: block" %>
  <%# <%= form.text_field :name %>
  <%# </div> %>
  <%# <div> %>
  <%# <%= form.label :description, style: "display: block" %>
  <%# <%= form.text_area :description %>
  <%# </div> %>
  <%# <div> %>
  <%# <%= form.label :price, style: "display: block" %>
  <%# <%= form.number_field :price %>
  <%# </div> %>
  <%# <div> %>
  <%# <%= form.label :category_id, style: "display: block" %>
  <%# <%= form.text_field :category_id %>
  <%# </div> %>
  <%# <div> %>
  <%# <%= form.label :active, style: "display: block" %>
  <%# <%= form.check_box :active %>
  <%# </div> %>
  <%# <div> %>
  <%# <%= form.submit %>
  <%# </div>  %>
  <div class="main-wrapper" style="display:inline-block">
    <div class="account-content">
      <div class="login-wrapper">
        <div class="login-content">
          <div class="login-userset">
            <div class="form-login" >
              <%# <%= form.label :first_name, style: "display: block" %>
              <%= form.text_field :name, rows: 4, placeholder: "Product Name" %>
              <%# <%= form.label :name, style: "display: block" %>
              <%# <%= form.text_field :name %>
            </div>
            <div class="form-login">
              <%# <%= form.label :email, style: "display: block" %>
              <%= form.text_area :description, rows: 4 , placeholder: "Description" %>
            </div>
            <div class="form-login">
              <% if admin_product.images.any? %>
                <% admin_product.images.each do |image| %>
                  <%= image_tag image, class: "w-20 h-20 object-cover rounded-md" %>
                <% end %>
              <% end %>
              <%= form.label :images %>
              <%= form.file_field :images, multiple: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
            </div>
            <div class="form-login">
              <%# <%= form.label :email, style: "display: block" %>
              <%= form.number_field :price, rows: 4 , placeholder: "Price" %>
            </div>
            <div class="form-login" >
              <%= form.label :category_id %>
              <%= form.collection_select :category_id, Category.order(:name), :id, :name, id: "category", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
            </div>
            <div class="form-login" >
              <%= form.label :active %>
              <%= form.check_box :active, class: "block mt-2 h-5 w-5" %>
            </div>
            <% unless admin_product.new_record? %>
              <div class="my-5">
                <%= link_to "Product Stocks", admin_product_stocks_path(admin_product), class: "btn btn-secondary underline" %>
              </div>
            <% end %>
            <div class="form-login">
              <%# <%= form.label :gender, style: "display: block" %>
              <%= form.number_field :user_id, id: :product_user_id, value:current_user.id, type: :hidden %>
            </div>
          </div>
        </div>
        <div class="login-img">
          <!--        <img src="assets/img/login.jpg" alt="img">-->
          <%= image_tag 'product.jpg' %>
        </div>
      </div>
      <div class= "actions" >
        <%= form.submit class: "btn btn-primary", style:"margin-left:35px; display:inline-block;" %>
      </div>
    </div>
  </div>
<% end %>
