<div id="<%= dom_id product %>">
  <%# <p>
    <strong>Name:</strong>
    <%= product.name %>
  <%# </p> %>
  <%# 
  <p>
    <strong>Description:</strong>
    <%= product.description %>
  <%# </p> %>
  <%# 
  <p>
    <strong>Price:</strong>
    <%= product.price %>
  <%# </p> %>
  <%# <p>
    <strong>Category:</strong>
    <%= product.category_id %>
  <%# </p> %>
  <%# <p>
    <strong>Active:</strong>
    <%= product.active %>
  <%# </p>  %>
  <tr>
    <td> <%= product.id %> </td>
    <%# <td><%= friend.user_id</td>  %>
    <%# <td class="px-6 py-4 whitepsace-nowrap tex-sm font-medium text-gray-800 underline">
      <%# <%= category.image.present? ? image_tag(category.image.variant(:thumb)) : image_tag("https://via.placeholder.com/50") %>
    <td class="px-6 py-4 whitepsace-nowrap tex-sm font-medium text-gray-800 underline">
      <%# <%= category.image.present? ? image_tag(category.image.variant(:thumb)) : image_tag("https://via.placeholder.com/50") %>
      <% if product.images.any? %>
        <%= image_tag(product.images.first, style: "width: 50px; height: 50px; object-fit: cover;") %>
      <% else %>
        <%= image_tag("https://via.placeholder.com/50") %>
      <% end %>
    </td>
    <%# <td class="px-6 py-4 whitepsace-nowrap tex-sm font-medium text-gray-800 underline">
    <%= product.images.any? ? image_tag(product.images.first, style: "width: 50px; height: 50px; object-fit: cover;") : image_tag("https://via.placeholder.com") %>
    <%# </td>  %>
    <td> <%=  link_to "#{product.name} " , [:admin, product], class: 'text-decoration-underline text-primary' %>
      <%# <%= friend.first_name %>
    </td>
    <%# <td> <%= friend.last_name</td>   %>
    <td> <%= product.description %></td>
    <td> <%= product.price %></td>
    <td> <%= product.category_id %></td>
    <% if product.user.present? %>
      <td><%= product.user.email %></td>
    <% else %>
      <td>No associated user</td>
    <% end %>
    <td> <%= product.active %></td>
  </div>
