<div id="<%= dom_id member %>">
  <%# <p>
    <strong>First name:</strong>
    <%= friend.first_name %>
  <%# </p> %> 

  <%# <p>
    <strong>Last name:</strong>
    <%= friend.last_name %>
  <%# </p>  %>

  <%# <p>
    <strong>Email:</strong>
    <%= friend.email %>
  <%# </p> %> 

  <%# <p>
    <strong>Phone:</strong>
    <%= friend.phone %>
  <%# </p> %>

  <%# <p>
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  <%# </p>  %>



    
    <tr>
      <%# <td><%= friend.user_id</td>  %>

      <td> <%=  link_to "#{member.first_name} #{member.last_name}" , member%>
        <%# <%= friend.first_name %> 
        </td>
      <%# <td> <%= friend.last_name</td>   %>
      <td><%= member.email %></td>
      <td><%= member.age %></td>
      <td><%= member.gender %></td>
      
  

</div>

