<div id="<%= dom_id member %>">
      
    <tr>
      <%# <td><%= friend.user_id</td>  %>

      <td> <%=  link_to "#{member.first_name} #{member.last_name}" , member%>
        <%# <%= friend.first_name %> 
        </td>
      <%# <td> <%= friend.last_name</td>   %>
      <td><%= member.email %></td>
      <td><%= member.age %></td>
      <td><%= member.gender %></td>
      
  

</div>

